<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139"/>
        <codeBase version="1.0.99.0" href="System.Data.SQLite.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
